body {
    margin: 0%;
    background-color: #a2b8abff;
}

body * {
    font-family: "Kodchasan";
}

video {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.word {
    position: absolute;
    left: 50%;
    top: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Predict {
    position: absolute;
    left: 50%;
    top: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Cap {
    position: absolute;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Back {
    position: absolute;
    left: 3%;
    top: 9%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.Main {
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 50%;
    height: 95%;
    width: 95%;
    position: absolute;
    top: 72%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
}