body {
    margin: 0%;
    background-color: #a2b8abff;
}

body * {
    font-family: "Kodchasan";
}

video {
    height: 75%;
    position: absolute;
    left: 50%;
    top: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.word {
    position: absolute;
    left: 50%;
    top: 5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.predict {
    position: absolute;
    left: 50%;
    top: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: greenyellow;
}

.Predict {
    position: absolute;
    left: 50%;
    top: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

.Cap {
    position: absolute;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.0;
}

.Back {
    position: absolute;
    left: 3%;
    top: 9%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.Main {
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 50%;
    height: 70%;
    width: 95%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
}