.Main button {
    border: none;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content {
    color: white;
    background-color: #e7581aff;
    border: none;
    text-decoration-line: underline;
    text-decoration-color: white;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 20%;
}

.head {
    background-color: white;
    color: #797e5c;
    text-decoration-color: #797e5c;
    font-size: 35px;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 20%;
}

.left {
    left: 25%;
}

.center {
    left: 50%;
}

.right {
    left: 75%;
}

.one {
    top: 10%;
}

.two {
    top: 30%;
}

.three {
    top: 50%;
}

.four {
    top: 70%;
}

.five {
    top: 90%;
}

.A_Unit {
    position: relative;
    height: 140%;
}

.Unit {
    border: white;
}
