.Unit1 {
    border: none;
    color: #797e5cff;
    width: 30%;
    height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 40px;
    background-color:white;
    left: 15%;
    top: 40%;
    position: absolute;
}

.Unit2 {
    border: none;
    color: #797e5cff;
    width: 30%;
    height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 40px;
    background-color: white;
    left: 55%;
    top: 40%;
    position: absolute;
}

.Topic {
    display: flex;
    color: #6b5948ff;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 15%;
    font-size: 60px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
