<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kodchasan">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/Top_Page.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.8.1/vue-cookies.js"></script>
</head>
<body>
    <div id="app">
        <div class="Top">
            <h1 class="Name"  @click="goToIndex">อวัจนา</h1>
            <img class="Icon1" src="Profile.PNG" alt="icon" width="50" height="50">
        </div>
        <div class="Panel_Login">
            <h2 class="Login_Header">เข้าสู่ระบบ</h1>
            <input class="User" type="text" placeholder="ชื่อผู้ใช้" v-model="username" v-on:keyup.enter="login">
            <br>
            <input class="User" type="password" placeholder="รหัสผ่าน" v-model="password" v-on:keyup.enter="login">
            <br>
            <button class="Confirm" @click="login">ยืนยัน</button>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>