<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kodchasan">
    <link rel="stylesheet" href="css/Top_Page_Main.css">
    <link rel="stylesheet" href="css/unit.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.8.1/vue-cookies.js"></script>
</head>
<body>
    <div id="app">
        <div class="Top" >
            <h1 class="Name" @click="goToIndex">อวัจนา</h1>
            <div>
                <button class="Unit">บทเรียน</button>
                <button class="Library" @click="goToLibrary">คลัง</button>
            </div>
            <div class="Profile">
                <h3 class="Profile_Name" id="name">ชื่อ</h3>
                <img class="Icon2" src="Profile.PNG" alt="icon" width="50" height="50">
            </div>
        </div>
        <div class="Main">
            <div class="A_Unit">
                <button class="center one head">บทที่ 1</h2>
                <button class="left two content" style="background-color: #f8a54aff;" @click="goToLesson(1)">บทเรียนที่ 1</button>
                <button class="center three content" style="background-color: #e7581aff;" @click="goToTest(1)">การทดสอบที่ 1</button>
                <div v-if="unit > 1">
                    <button class="right four content" style="background-color: #f8a54aff;" @click="goToLesson(2)">บทเรียนที่ 2</button>
                    <button class="center five content" style="background-color: #e7581aff;" @click="goToTest(2)">การทดสอบที่ 2</button>
                </div>
            </div> 
            <div class="A_Unit" v-if="unit > 2">
                <button class="center one head">บทที่ 2</h2>
                <button class="left two content" style="background-color: #f8a54aff;" @click="goToLesson(3)">บทเรียนที่ 3</button>
                <button class="center three content" style="background-color: #e7581aff;" @click="goToTest(3)">การทดสอบที่ 3</button>
                <div v-if="unit > 3">
                    <button class="right four content" style="background-color: #f8a54aff;" @click="goToLesson(4)">บทเรียนที่ 4</button>
                    <button class="center five content" style="background-color: #e7581aff;" @click="goToTest(4)">การทดสอบที่ 4</button>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
    <script>
        const get_unit = async () => {
            let response;
    
            try {
                response = await axios.get(url + "/unit/track", {
                    headers: {
                        "Authorization": `Bearer ${$cookies.get('token')}`,
                    },
                });
            } catch (err) {
    
            }

            setUnit(response.data.unit);
        };

        get_unit();
    </script>
</body>
</html>