.Unit1 {
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 12px;
    left: 50%;
    width: 25%;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
}

.Unit1_Name {
    color: #797e5c;
    text-decoration-line: underline;
    text-decoration-color: #797e5c;
    font-size: 35px;
}

.Text1 {
    color: #53b9ae;
}

.Unit1_Lesson1 {
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 12px;
    left: 26%;
    width: 20%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f8a54aff;
}

.Lesson1 {
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.Test1 {
    border-radius: 20px;
    padding-top: 5%;
    padding-bottom: 6%;
    left: 50%;
    height: 3%;
    width: 20%;
    position: absolute;
    top: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #e7581aff;
}

.Unit1_Lesson2 {
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 12px;
    left: 74%;
    width: 20%;
    position: absolute;
    top: 125%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f8a54aff;
}

.Lesson2 {
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.Test2 {
    border-radius: 20px;
    padding-top: 5%;
    padding-bottom: 6%;
    left: 50%;
    height: 3%;
    width: 20%;
    position: absolute;
    top: 150%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #e7581aff;
}

.Unit_1 {
    position: relative;
    height: 80%;
}
