.Unit1 {
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    left: 50%;
    width: 25%;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
}

.Unit1_Name {
    color: #797e5c;
    text-decoration-line: underline;
    text-decoration-color: #797e5c;
    font-size: 35px;
}

.Text1 {
    color: #53b9ae;
}

.Lesson1 {
    border: none;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 6%;
    left: 26%;
    width: 20%;
    height: 5%;
    position: absolute;
    top: 52%;
    transform: translate(-50%, -50%);
    background-color: #f8a54aff;
}

.Test1 {
    border: none;
    font-size: 25px;
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 6%;
    left: 50%;
    height: 5%;
    width: 20%;
    position: absolute;
    top: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #e7581aff;
}



.Lesson2 {
    border: none;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
    border-radius: 20px;
    font-size: 25px;
    padding-top: 4%;
    padding-bottom: 6%;
    left: 74%;
    width: 20%;
    height: 5%;
    position: absolute;
    top: 118%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f8a54aff;
}

.Test2 {
    border: none;
    font-size: 25px;
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 6%;
    left: 50%;
    height: 5%;
    width: 20%;
    position: absolute;
    top: 150%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #e7581aff;
}

.Unit_1 {
    position: relative;
    height: 80%;
}

.Unit_2 {
    position: relative;
    height: 80%;
}

.Unit2 {
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    left: 50%;
    width: 25%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
}

.Unit2_Name {
    color: #797e5c;
    text-decoration-line: underline;
    text-decoration-color: #797e5c;
    font-size: 35px;
}

.Text2 {
    color: #53b9ae;
}

.Lesson3 {
    border: none;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
    font-size: 25px;
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 6%;
    left: 26%;
    width: 20%;
    height: 5%;
    position: absolute;
    top: 132%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f8a54aff;
}

.Test3 {
    border: none;
    font-size: 25px;
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 6%;
    left: 50%;
    height: 5%;
    width: 20%;
    position: absolute;
    top: 160%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #e7581aff;
}


.Lesson4 {
    border: none;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
    font-size: 25px;
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 6%;
    left: 74%;
    width: 20%;
    height: 5%;
    position: absolute;
    top: 192%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f8a54aff;
}

.Test4 {
    border: none;
    font-size: 25px;
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 6%;
    left: 50%;
    height: 5%;
    width: 20%;
    position: absolute;
    top: 220%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: #e7581aff;
}
